.summary-card {
    width: 70vw;
    margin: 0 !important;
    position: absolute !important;
    right: 4%; 
    top: 35%;
}

.summary-card h3 {
    text-align: center;
    padding: 20px;
}

.nav-pills .nav-link.active {
    background-color: #c1c4c1 !important;
}

/* Styling for league name on summary table */
#league-title {
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 3rem;
    font-size: 2.4rem;
}